$primary-color: #ffffff;
$secondary-color: #373737;
$accent-color: #0e9b73;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 200px 1fr; /* Sidebar width and the rest of the page */
    grid-template-rows: 150px 1fr;
    gap: 20px; /* Gap between sidebar and section */
    height: 100vh;
}
.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding: 20px;
}

.profit-section, .ongoing-projects-section, .completed-projects-section, .runningcost-section {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
/* Sidebar navigation styling */
.sidebar {
    background-color: darken($secondary-color, 5%);
    padding-top: 60px;
    text-align: center;
    grid-column: 1; /* Place the sidebar in the first column */
    grid-row: 1 / span 2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.account{
    background-color: $secondary-color;
}

.sidebar li {
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
}

/* Hover effect for the links */
.sidebar li:hover {
    background-color: lighten($primary-color, 30%);
}

main{
    grid-row: 2;
}

/* Add some padding and margin to the table */
table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Style the table header */
  thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  
  /* Style the table rows */
  tbody tr {
    background-color: #fff;
  }
  
  /* Alternate row background color */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style the table cells */
  td {
    // padding: 10px;
    text-align: center;
    
  }
  td a {
    display: inline-block; /* Ensure the <a> tag is treated as a block-level element */
    text-align: center; /* Center the content horizontally */
    width: 100%; /* Ensure the <a> tag takes up the entire width of its container */
}
  /* Style the buttons */
  .action-buttons {
    display: flex;
    justify-content: center;
}

.create-btn{
    background-color: #b86314;
}
.save-btn{
    background-color: #02aa02;
}
.delete-btn{
    background-color: #ef3c3c;
}

.edit-btn{
    background-color: #5fb6fd;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 150px;
    height: 50px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Style the links */
  a {
    color: white;
    text-decoration: none;
  }


/* Media query for responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        grid-column: 1 / -1; /* Expand sidebar to full width */
        padding-top: 10px;
    }
}
