$primary-color: #1f153d;
$secondary-color: #a8a6b2;
$accent-color: #0e9b73;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: $primary-color;
}
/* Sidebar navigation styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; 
    background-color: darken($primary-color, 5%); 
    padding-top: 60px; 
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.account{
    background-color: $secondary-color;
}

.sidebar li {
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
}


.sidebar a {
    display: block;
    color: #fff; /* Link color */
    text-decoration: none;
}

/* Hover effect for the links */
.sidebar li:hover {
    background-color:  lighten($primary-color, 30%); /* Change background color on hover */
    
}

// table
/* Media query for responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Take full width on smaller screens */
        padding-top: 10px; /* Adjust top padding for space for header */
    }
}